.banner__right-bottom-line {
    background-image: url('../../../images/right-bottom-line.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: absolute;
    width: 150px;
    height: 180px;
    top: 294px;
    right: 150px;
}