.contacts__email{
    position: relative;
    width: 420px;
    height: 19px;
    margin:12px auto 12px 100px;

    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: -0.04em;
    color: #000000;    
}

@media screen and (max-width: 1000px) {
    .contacts__email {
        margin-left:40px;        
    }
} 

@media screen and (max-width: 500px){
    .contacts__email{
        margin-left:12px
    }
}