@import url('./__title/benefits__title.css');
@import url('./__image/benefits__image.css');
@import url('./__column-title/benefits__column-title.css');
@import url('./__column-subtitle/benefits__column-subtitle.css');

.benefits {
    height: 500px;
    margin: 0 auto 10px;
    background-color: #F9F9F9;
    border-radius: 14px;
    display: flex;
}