.nav__button {
    width: 16px;
    height: 14px;
    background-color: inherit;
    background-image: var(--color);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    border: 0;
    cursor: pointer;
    outline: 0;
}

@media screen and (min-width: 725px) {
    .nav__button {
        display: none;
    }   
}