.banner__title-img {
    background-image: url('../../../images/bannerTitleImg.png');
    background-repeat: no-repeat;
    height: 27.85px;
    width: 22.75px;
    position: absolute;
    top: 229px;
    left: 502px;;
}