.nav__button_cross {
    mask-image: url('../../../../images/cross-icon.svg');
    -webkit-mask-image: url('../../../../images/cross-icon.svg');
    mask-repeat: no-repeat;
    -webkit-mask-repeat: no-repeat;
}