.banner__left-top-line {
    background-image: url('../../../images/left-top-line.png');
    position: absolute;
    background-size: 100% 100%;
    top: 140px;
    left: 286px;
    width: 45px;
    height: 180px;
}