.contacts__phone{
    position: relative;
    width: 420px;
    height: 19px;
    margin:12px auto auto 100px;

    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: -0.04em;
    color: #000000;
}

@media screen and (max-width: 1000px) {
    .contacts__phone {
        margin-left:40px;        
    }
} 

@media screen and (max-width: 500px) {
    .contacts__phone{
        width: 280px;
        height: 19px;
        margin-left:12px;
    }
}