.banner__left-left-line {
    position: absolute;
    background-image: url('../../../images/left-left-line.svg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    top: 344px;
    left: 150px;
    height: 45px;
    width: 181px;
}