@keyframes counterRotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(-360deg);
    }
  }


.banner__right-bottom-square {
    background-color: #faa805;
    width: 26px;
    height: 26px;
    position: absolute;
    top: 414px;
    right: 287px;
    border: none;
    animation: counterRotation 15s linear 0s infinite;
}