.contacts__map-iframe{
    width:560px;
    height:430px;
}

@media screen and (max-width: 1000px) {
    .contacts__map-iframe{
        width: 668px;
    }
}

@media screen and (max-width: 500px){
    .contacts__map-iframe{
        width: 280px;
        height: 370px;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%);
    }
}