.banner__right-top-line {
    background-image: url('../../../images/rt-line-top.svg');
    background-size: 100% 100%;
    position: absolute;
    width: 150px;
    height: 87px;
    top: 190px;
    right: 150px;
}