@import url('./__list/contacts__list.css');
@import url('./__linkedInLink/contacts__linkedInLink.css');
@import url('./__title/contacts__title.css');
@import url('./__map/contacts__map.css');
@import url('./__copyright/contacts__copyright.css');

.contacts{
    min-width: 304px;
    margin: 0 auto;
    background-color: #F9F9F9;
    border-radius: 14px;
}

@media screen and (min-width: 1185px) {
    .contacts {
        display: grid;
        grid-template-columns: auto auto;
        grid-column-gap: 7px;
    }
}