@import url('./__container-image/robot__container-image.css');
@import url('./__image/robot__image.css');
@import url('./__wrapper-info/robot__wrapper-info.css');
@import url('./__button/robot__button.css');
@import url('./__button/_next/robot__button_next.css');
@import url('./__button/_fade/robot__button_fade.css');

.robot {
    display: flex;
    flex-direction: column;
    row-gap: 50px;
    background-color: #f9f9f9;
    margin: 8px 0;
    min-height: 40vh;
    border-radius: 14px;
    border: 1px solid red;
    box-sizing: border-box;
    padding: 10px 12px 80px;
}