.contacts__address{
    position: relative; 
    width: 420px;
    height: 19px;
    margin:50px auto auto 100px; 
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: -0.04em;
    color: #000000;    
}

@media screen and (max-width: 1000px) {
    .contacts__address {
        margin: 50px auto auto 40px;        
    }
} 

@media screen and (max-width: 500px) {
    .contacts__address{
        width: 280px;
        height: 38px;
        font-size: 16px;
        line-height: 19px;
        margin: 40px auto auto 12px; 
    }
}