.contacts__map {
    display: flex;
    margin-left: calc(50% - 703px/2 - 1.5px);
    margin-top: calc(50% - 465px/2 + 1.5px);
    /* margin: 58px 12px 0; */
    text-align: center;
    min-width: 280px;
    min-height: 465px;
    border-radius: 6px;
    overflow: hidden;
}

@media screen and (min-width: 1185px) {
    .contacts__map {
        margin-top: 0;
        padding-top: calc(50% - 465px/2 + 1.5px);
    }
}