.contacts__copyright{
    font-size: 16px;
    font-weight: 400;
    letter-spacing: -0.04em;
    line-height: 19.36px;
    color: #525252;
    margin: 206px auto auto 100px;
   /*  padding-bottom: 80px; */
    width: 420px;
    height: 19px;
}

@media screen and (min-width: 600px){
    .contacts__copyright {
        margin-left: 40px;
        margin-top: 44px;
        /* padding-bottom: 120px; */
    }
}

@media screen and (min-width: 1185px) {
    .contacts__copyright {
        margin-left: 100px;
       /*  padding-bottom: 110px; */
    }
}