.banner__video-button {
    border: 1px solid #717171;
    width: 160px;
    height: 42px;
    color: #A0A0A0;
    background-color: transparent;
    border-radius: 6px;
    margin-right: 10px;
}

.banner__video-button:hover {
    background-color: rgba(250, 168, 5, .5);
    color: white;
}
