.contacts__title{
    position: relative;
    max-width: 420px;
    max-height: 43px;
    margin:110px auto auto 100px;
    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 34px;
    line-height: 126%;
    color: #000000;
}

@media screen and (max-width: 1000px) {
    .contacts__title {
        margin: 50px auto auto 40px;        
    }
} 

@media screen and (max-width: 500px) {
    .contacts__title {
        margin: 50px auto auto 12px; 
        font-size: 28px;  
        line-height: 32px;     
    }
} 

